/* колір основного тексту #212121 */
/* колір додаткового тексту #757575 */
/* колір логотипа #000000 */
/* білий колір  #FFFFFF */
/* колір акцент #2196F3 */
/* колір hover головної кнопки #188CE8  */
/* колір фону героя і футера #2F303A */
/* додатковий колір фону #F5F4FA */
/* колір контактів футера rgba(255, 255, 255, 0.6) */

:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text-colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);

  /* bg colors */
  --background-footer-color: #2f303a;
  --background-secondary-color: #f5f4fa;

  /* other colors */
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --border-color: #eeeeee;

  /* others */
  --indent: 30px;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Частковий Reset стилів браузера  start */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* Частковий Reset стилів браузера  end */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

/* Logo */

.logo {
  color: var(--logo-text-color);
  font-family: var(--secondary-font);

  margin-right: 93px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

.main-menu {
  display: flex;
  align-items: center;
}

/* Site nav */

/* .nav-item:not(:first-child) {
  margin-left: 50px;
}
.header-contacts {
  margin-left: auto;
}
.header-contacts-item:last-child {
  margin-left: 50px;
} */

.nav-list,
.header-contacts {
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  display: block;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link-current {
  color: var(--accent-color);
}

.header-nav {
  margin-right: auto;
}

.header-contacts-link {
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  background-color: var(--background-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-primary {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--btn-hover-color);
}

/* Особливості */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.feature-item {
  flex-basis: calc((100% - var(--indent) * 3) / 4);
}

.feature-subtitle {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Наші роботи */
.works {
  padding-top: 0;
}

.our-works-list {
  display: flex;
  gap: var(--indent);
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наша команда */

.team {
  background-color: var(--background-secondary-color);
}

.team-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  text-align: center;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.team-subtitle {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
}

.team-subtitle,
.team-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-color);
}

.footer .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.map-link {
  color: var(--primary-white-color);
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}

.footer-contact-link {
  color: var(--footer-contacts-color);
}
.address {
  font-style: normal;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Портфоліо */

.gallery-button-list {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;

  justify-content: center;
  align-items: center;
}

.gallery-button {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: var(--title-text-color);
  background-color: var(--background-secondary-color);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
}

.gallery-button:hover,
.gallery-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  text-align: center;
}

.gallery-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.gallery-item {
  flex-basis: calc((100% - var(--indent) * 2) / 3);
}

.gallery-subtitle {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.gallery-link:hover .gallery-subtitle,
.gallery-link:focus .gallery-subtitle,
.gallery-link:hover .gallery-description,
.gallery-link:focus .gallery-description {
  color: var(--accent-color);
}
